@use "sass:color";

/* --- Colors --- */
$white: #fafafa;
$border: #e7eaec;
$comment: #ccd7da;
$black: #414855;
$red: #ff5370;
$orange: #f76d47;
$yellow: #ffb62c;
$green: #91b859;
$cyan: #39adb5;
$blue: #6182b8;
$magenta: #7c4dff;
$warning: #e53935;

body {
	color: $black;
}

header {
	background-color: darken(white, 5);
	border-color: $border;
}

a {
	color: $blue;
}

code {
	background-color: $border;
}
.chroma {
	background-color: $border;
}

hr {
	border-color: $comment;
}

th, td {
	border-color: $border;
}

$dark_red:     #be5046;
$dark_red2:    #d3423e;
$red:          #ff5370;
$light_red:    #f07178;
$light_red2:   #ff869a;
$dark_yellow:  #f78c6c;
$yellow:       #ffcb6b;
$green:        #c3e88d;
$dark_green:   #a9c77d;
$teal:         #80Cbc4;
$cyan:         #89ddff;
$blue:         #82aaff;
$blue_purple:  #939ede;
$blue_purple2: #7986E7;
$purple:       #c792ea;

$white2:         #eeffff;
$white:          #bfc7d5;
$white_mask_11:  #989aa2;
$comment_grey:   #697098;
$gutter_fg_grey: #4b5263;
$white_mask_3:   #474b59;
$menu_grey:      #3e4452;
$special_grey:   #3b4048;
$white_mask_1:   #333747;
$border:         #32374d;
$cursor_grey:    #2c323c;
$black:          #292d3e;
$vertsplit:      #181a1f;
@media (prefers-color-scheme: dark) {
	body {
		color: $white;
		background-color: $black;
	}

	header {
		background-color: lighten($black, 2.5);
		border-color: $border;
	}

	a {
		color: $blue;
	}

	code {
		background-color: $border;
	}
	.chroma {
		background-color: $border;
	}

	hr {
		border-color: $comment_grey;
	}

	th, td {
		border-color: 1px solid $border;
	}
}
