<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/webp" href="/avatar.webp">

	<title>{{ if not .IsHome }}{{ .Title }} – {{ end }}{{ .Site.Title }}</title>

	{{ $scss := resources.Get "style.scss" | resources.ToCSS (dict "outputStyle" "expanded" "targetPath" "style.css") }}
	<link rel="stylesheet" href="{{ $scss.Permalink }}">
	<!-- <link rel="stylesheet" href="/style.css" type="text/css" media="all" /> -->

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>
