<section class="social-icons">
	<a href="mailto:{{ .Site.Params.Email }}" aria-label="email">
		email
		<!-- <svg class="social-icon" viewBox="0 0 24 24"> -->
			<!-- <path fill="currentColor" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /> -->
		<!-- </svg> -->
	</a>

	<a href="{{ .Site.Params.Codeberg }}" aria-label="codeberg">
		codeberg
		<!-- <img class="social-icon" src="https://design.codeberg.org/logo-kit/icon.svg" alt="Logo of Codeberg, a non-profit code hosting site"> -->
	</a>

	<!-- <a href="">
		<img class="social-icon" src="https://about.gitlab.com/images/icons/logos/slp-icon.svg" alt="">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69" />
		</svg>
	</a> -->

	<a href="{{ .Site.Params.Threema }}" aria-label="threema">
		threema
		<!-- <img class="social-icon" src="https://threema.ch/images/icons/threema-icon.svg" alt="Logo of Threema, a swiss messenger app"> -->
	</a>

</section>
